/* Write your CSS here */
.tab-item-container {
  margin-right: 15px;
}

.button-styling {
  border-width: 0px;
  color: #1e293b;
  cursor: pointer;
  background-color: transparent;
}
.active-tab-btn {
  border-bottom: 2px solid #0b69ff;
  color: #0b69ff;
}
